.section{
  margin-bottom: 15px;
}

.section-title{
  width: 250px;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  user-select: none;
}

.options{
  padding-left: 12px;
}

.option{
  display: block;
  margin-bottom: 5px;
}

.option-desc{
  vertical-align: top;
  width: 250px;
  display: inline-block;
}

.option-value{
  display: inline-block;
  overflow: visible;
}

.option-str{
  width: 700px;
}

.pre{
  width: 700px;
  font-family: monospace;
}

.button{
  display: block;
  margin: 8px 0px;
}